@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");

* {
  margin: 0;
  font-family: "Lato", sans-serif;
  color: #333;
}

.navBar {
  padding: 20px;
  display: flex;
  align-items: center;
  max-width: 600px;
  margin: 0 auto;
  border-bottom: 1px solid #f2f2f2;
}

.navBar h1 {
  color: #f1356d;
}

.navBar links {
  margin-left: auto;
}

.navBar a {
  margin-left: 16px;
  text-decoration: none;
  padding: 6px;
}
.navBar a:hover {
  color: #f1356d;
}

.content {
  max-width: 600px;
  margin: 40px auto;
  padding: 20px;
}

.blog-preview {
  padding: 10px 16px;
  margin: 20px 0;
  border-bottom: 1px solid #fafafa;
}
.blog-preview:hover {
  box-shadow: 1px, 3px, 5px rgba(0, 0, 0, 0.1);
}

.blog-preview h2{
  font-size: 20px;
  color: #f1356d;
  margin-bottom: 8px;
}